@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    color:rgb(203, 20, 109);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: 1px;
}

.navigation a{
    text-decoration: none;
    color:rgb(203, 20, 109) ;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
}

.navigation a:hover{
    color:blueviolet ;
} 

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:  url(images/8.webp) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color: blanchedalmond;
    font-weight: 500;
    font-size: 1.4em;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: bisque;
    font-weight: 600;
    font-size: 3em;
}

.main h3{
    color: whitesmoke;
    font-weight: 700;
    font-size: 2em;  
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.main-btn{
    color: aliceblue;
    background-color:rgb(203, 20, 109) ;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 8px;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    margin-bottom: 40px;
    letter-spacing: 1px;
    transition: .7s ease;
}

.main-btn:hover{
    background-color:rgb(164, 0, 79) ;
    transform: scale(1.1);
}

.social-icons a{
    color:rgb(203, 20, 109);
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color: rgb(203, 20, 109);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 8px;
    padding: 25px;
    margin: 15px;
    transition: .7s ease;
}
.card:hover{
    transform: scale(1.1);
}

.icon{
    color:rgb(203, 20, 109);
    font-size: 8em;
    text-align: center;
}

.info{
    text-align: center;
}
.info h3{
    color:rgb(203, 20, 109);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects{
    background-color:rgb(229, 145, 10);
}
.projects .content{
    margin-top: 30px;
}

.project-card{
    background-color: white;
    border: 1px solid white;
    min-height: 11em;
    width: 20em;
    overflow: hidden;
    border-radius: 8px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-image{
    opacity: 0.9;
}

.project-image img{
    width: 100%;
}

.project-info{
    padding: 1em;
}

.project-category{
    font-size: 0.8em;
    color: #000;
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details{
    color: rgb(203, 20, 109);
    text-decoration: none;
}
.more-details:hover{
    color:blueviolet ;
}

.cards_contact .icon{
    font-size: 4.5em;
}
.cards_contact .info h3{
    color: #000;
}

.cards_contact .info p{
    font-size: 1.5em;
}

.footer{
    background-color:rgb(229, 145, 10);
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer_title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer_title span{
    color:rgb(203, 20, 109);
}

.footer .social-icons a{
    font-size: 1.5em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px){
    header{
        padding: 12px 15px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5em;
        letter-spacing: 0px;
    }
}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }

}
@media (max-width:360px){
    body{
        font-size: 10px;
    }
    .footer .social-icons a{
        font-size: 1.5em;
        padding: 0 8px 0 0;
    }
    
}





